* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html { background-color: #000; }  */
body {
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

* {
  transition: all .2s;
}
